<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{personas}}
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Vocacion</th>
                </tr>
            </thead>
            <tbody>

                {% for persona in personas %}

                <tr>
                    <td>Juanito</td>
                    <td>20</td>
                    <td>Alfarero</td>
                </tr>
                <tr>
                    <td>Maria</td>
                    <td>25</td>
                    <td>Alfarero</td>
                </tr>
                <tr>
                    <td>Pedro</td>
                    <td>23</td>
                    <td>Alfarero</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>