<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar un nuevo gatito !</title>
    </head>
    <body>
        <h1>Agregar gato</h1>

        nombre, raza, edad, genero, color. peso

        <p>Nombre</p>
        <input type="text" />

        <p>Raza</p>
        <input type="text" />

        <p>Edad</p>
        <input type="text" />

        <p>Genero</p>
        <input type="text" />

        <p>Color</p>
        <input type="text" />

        <p>Peso</p>
        <input type="text" />

    </body>
</html>